#container {
    text-align: center;
    margin: 0px auto;
    padding-top: 32px;
    width: 600px;

}

.input-container {
    margin-bottom: 10px;
    size: 10px;
}

.update-container {
    margin-bottom: 10px;
    size: 10px;
    display: none;

}

.input {
    padding: 10px 10px;
    border-radius: 9px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
}

.btn {
    border: 0;
    color: white;
    padding: 10px 10px;
    border-radius: 9px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.add-btn {
    background-color: #29a629;

}

.update-btn {
    background-color: rgb(72, 72, 28);
}

.del-btn {
    background-color: red;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid rgb(11, 11, 11);
}

th {
    background-color: #c1d8c9;
    font-size: 23px;
    font-weight: bold;

}